
<form action="$(Genie.Router.linkto(:contact_form_submit))" method="POST">
  <% partial(joinpath(Genie.config.path_resources, "persons", "views", "person_form_data.jl.html"), person=nothing) %>
  <div class="row mb-3">
    <div class="col-12">
      <label for="msg">Message</label>
      <textarea class="form-control" name="msg"></textarea>
    </div>
  </div>


  <div class="modal-footer justify-content-center">
    <button type="submit" class="btn w-40 my-btn py-2n btn-lg">Submit</button>
  </div>
</form>
