<div class="container">
  

  <!-- add new property -->
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#createProperty" role="button" aria-expanded="false" aria-controls="createProperty">
    Create
  </a>
  <div class="collapse" id="createProperty">
    <% partial(joinpath(Genie.config.path_resources, "properties", "views", "property_form.jl.html"),person=nothing, property=nothing, persons=persons, context=@__MODULE__) %>
  </div>


  <!-- show properties -->
  <div class="row justify-content-center py-5"><h3> Properties</h3></div>
  <hr class="my-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">person</th>
        <th scope="col">address</th>
        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">zip</th>
        <th scope="col">acres</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% for_each(properties) do row %>
      <tr>
        <th scope="row">$(row.property_id)</th>
        <td><a href="/persons/$(row.person_id)">$(row.first*" "*row.last)</a></td>
        <td>$(row.address)</td>
        <td>$(row.city)</td>
        <td>$(row.state)</td>
        <td>$(row.zip)</td>
        <td>$(row.acres)</td>
        <td><a class="btn btn-primary" href="/properties/$(row.property_id)/edit" role="button">Edit</a></td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>

