
<% if show_indicators %>
<div class="carousel-indicators">

  <% for_each(0:length(imgs)-1) do i %>
    <button type="button" class='$(if i==0 "active" else "" end)' data-bs-target="$(my_target)" data-bs-slide-to="$i" aria-current="true" aria-label="Slide $i"></button>
  <% end %>
</div>

<% end %>

<div class="carousel-inner">
  <% for_each(1:length(imgs)) do j %>
    <div class='carousel-item $(if j==1 "active" else "" end)'>
      <img src="$(imgs[j].path)" class="d-block w-100" alt="$(imgs[j].path)">

      <div class="carousel-caption d-none d-md-block">
        <% if imgs[j].title != ""%>
        <h4>$(imgs[j].title)</h4>
        <% end %>

        <% if imgs[j].desc != "" %>
        <p>$(descriptions[j].desc)</p>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

<button class="carousel-control-prev" type="button" data-bs-target="$(my_target)" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="$(my_target)" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
