
<form class="row py-1 g-3" method="POST" action="$(Genie.Router.linkto(:create_lawncare_event))" >
  <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
  <div class="col-3"><input type="text" class="form-control" value="$(property.address)" readonly></div>
  <div class="col-2"><input type="date" class="form-control datepicker" name="date" placeholder="Select Date" value=$(string(td))></div>
  <div class="col-1"><input type="float" class="form-control" name="hours" value="$(property.last_time_spent)"></div>
  <div class="col-1"><input type="float" class="form-control" name="cost" value="$(property.cost)"></div>
  <div class="col-1">
    <select class="form-select" name="group_id" required>
      <% for_each(groups) do group %>
        <% if group==property.group_id %>
          <option value="$group" selected>$group</option>
        <% else %>
          <option value="$group">$group</option>
        <%end%>
      <%end%>
    </select>
  </div>
  <!-- <div class="col-1"><input type="int" class="form-control" name="group_id" value="$(property.group_id)"></div> -->
  <div class="col-2"><button type="submit" class="btn btn-primary">submit</button></div>
  <div><input type="hidden" class="form-control" name="lawncare_property_id" value="$(property.lawncare_property_id)"></div>
</form>
