<div class="container">
  <div class="row">
    <h2>search bar here</h2>
  </div>

  
  <!-- <% for_each(properties) do property %> -->
  <!--   <% partial(joinpath(Genie.config.path_resources, "lawncareproperties", "views", "lawncareproperty_single_line.jl.html"), property=property, context=@__MODULE__) %> -->
  <!-- <% end %> -->


<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">addr</th>
      <th scope="col">city</th>
      <th scope="col">weeks</th>
      <th scope="col">cost</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% for_each(lawn_properties) do lp %>
    <tr>
      <th scope="row">$(lp.lawn_id)</th>
      <td>$(lp.first)</td>
      <td>$(lp.address)</td>
      <td>$(lp.city)</td>
      <td>$(lp.weeks_between_visits)</td>
      <td>$(lp.cost)</td>
      <td><a class="btn btn-primary" href="/lawncare-properties/$(lp.lawn_id)/edit" role="button">Edit</a></td>
    </tr>
  <% end %>

  </tbody>
</table>
</div>

