<!-- <div class="container"> -->
<div class="img-container">
  <div style="height: 800px; z-index:-1;overflow: hidden">
    <img src="/img/dan_mowing_2.jpg" alt="mowing img" class="img-fluid">
  </div>
  <div class="img-overlay" style="background-color: #00000045;"> 
    <div class="caption"><!-- <span> -->
      <img src="/img/logos/sub_4/5.png" alt="mowing img" class="img-fluid" style="width:300px;">
      <!-- <h1 class="special-header"> recultivate </h1> -->
      <h4 class=""> 1. (n) to cause to grow or flourish anew </h4>
      <h4 class=""> 2. (n) to plant, tend, harvest, or improve (plants) again </h4>
    </div>
    <!-- </span> -->
  </div>
</div>

<div class="b-example-divider"></div>

<div>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-3 fw-bold recultivate_text">Lawncare Basics</h1>
    <div class="col-lg-6 mx-auto">
      <p class = "lead mb-4">Get an estimate for your yard using our Lawncare Estimator on the Lawncare Page. Then schedule a visit.</p>


      <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class = "col-4">
          Reliable
        </div>

        <div class = "col-4">
          Low-Cost
        </div>


        <div class = "lead col-4">Easy-Payments</div>

      <!-- <p class="lead mb-4">Our lawncare service is simple and sweet but we believe that's all it should take. We don't bag clippings, fertilize, or treat for weeds but we do offer aeration for an additional charge. For more information see our Lawncare page. </p> -->
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3" href="/lawncare">Lawncare</a>
      </div>
    </div>
    <!-- <div class="overflow-hidden" style="max-height: 30vh;"> -->
    <!--   <div class="container px-5"> -->
    <!--     <img src="/img/logos/primary/primary.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy"> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>


  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/logos/primary/primary.png" class="d-block mx-lg-auto img-fluid" alt="bootstrap themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Landscaping</h1>
        <!-- <p class="lead">Upgrade your landscape with flagstone walkways or patios. </p> -->
        <p class="lead">We offer small landscape design and installation services of plants and some hardscapes. we also offer landscape clean-up and maintenance services. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/landscaping">landscaping</a>
          <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/landscaping/portfolio">portfolio</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="px-4 pt-5 my-5 text-center border-top"> -->
  <!--   <div class="row flex-lg align-items-center g-3 py-3"> -->
  <!--     <div class="col-lg-6 mx-auto"> -->
  <!--       <h2 class="display-5 fw-bold">We are hiring</h2> -->
  <!--       <!-1- <p class="lead">We are hiring</p> -1-> -->
  <!--     </div> -->
  <!--     <div class="col-lg-6"> -->
  <!--       <a type="button" class="btn btn-primary btn-lg px-9 me-sm-3" href="/apply">Apply</a> -->
  <!--       <!-1- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> -1-> -->
  <!--       <!-1- </div> -1-> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->



</div>

