<!-- <div class="container"> -->
<div class="img-container mx-5">
  <div style="max-height: 800px; z-index:-1;overflow: hidden">
    <img src="/img/dan_mowing_2.jpg" alt="mowing img" class="img-fluid" >
  </div>
  <div class="img-overlay" style="background-color: #00000045;"> 
    <div class="caption"><!-- <span> -->
      <img src="/img/logos/sub_4/5.png" alt="mowing img" class="img-fluid" style="width:300px;">
      <!-- <h1 class="special-header"> recultivate </h1> -->
      <h4 class=""> 1. (n) to cause to grow or flourish anew </h4>
      <h4 class=""> 2. (n) to plant, tend, harvest, or improve (plants) again </h4>
    </div>
    <!-- </span> -->
  </div>
</div>

<div class="b-example-divider"></div>

<!-- <div style="background-color: #48493E;"> -->
<!--   <div class="px-4 pt-5 my-5 text-center border-bottom text-white"> -->
<!--     <!-1- <h1 class="display-3 fw-bold recultivate_text">Lawncare Basics</h1> -1-> -->
<!--     <h1 class="display-5 fw-bold lh-1 mb-3 special-header" >Lawncare Basics</h1> -->
<!--     <div class="col-10 mx-auto" > -->
<!--       <p class = "lead mb-4">Get an estimate for your yard using our Lawncare Estimator on the Lawncare Page. Then schedule a visit.</p> -->


<!--       <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 "> -->
<!--         <div class = "col"> -->
<!--           <h2> Reliable</h2> -->
<!--           <ul class="list-unstyled mt-3 mb-4"> -->
<!--             <li class="list-group-item">Schedule us for regular visits</li> -->
<!--             <li class="list-group-item">Request notification before we come</li> -->
<!--             <li class="list-group-item">We will notify you if we can't come</li> -->
<!--           </ul> -->
<!--         </div> -->

<!--         <div class = "col"> -->
<!--           <h2> Affordable</h2> -->
<!--           <ul class="list-unstyled mt-3 mb-4"> -->
<!--             <li>Lower prices for those closest to us</li> -->
<!--             <li>Discounts for scheduling at least 2/month</li> -->
<!--             <li></li> -->
<!--           </ul> -->
<!--         </div> -->

<!--         <div class = "col"> -->
<!--           <h2> Flexible</h2> -->
<!--           <ul class="list-unstyled mt-3 mb-4"> -->
<!--             <li>Pay via cash, check, credit card, or paypal.</li> -->
<!--             <li>Mulching and aeration are interchangeable with a lawncare visit</li> -->
<!--           </ul> -->
<!--         </div> -->
<!--       </div> -->


<!--       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> -->
<!--         <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3" href="/lawncare">Lawncare</a> -->
<!--       </div> -->
<!--     </div> -->
<!--     <!-1- <div class="overflow-hidden" style="max-height: 30vh;"> -1-> -->
<!--     <!-1-   <div class="container px-5"> -1-> -->
<!--     <!-1-     <img src="/img/logos/primary/primary.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy"> -1-> -->
<!--     <!-1-   </div> -1-> -->
<!--     <!-1- </div> -1-> -->
<!--   </div> -->
<!-- </div> -->

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center justify-content-evenly g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6 ">
      <div class="display-5 font-weight-bold lh-1 mb-3 ">Lawncare</div>
      <p class="lead text-muted">Reliable - Affordable - Flexible</p>
      <p class="lead">We offer reliable and affordable residential lawncare for those within a certain radius of our business. </p>

      <p class="lead"> For lawncare, we offer the following services -  </p>
      <div class="row justify-content-left gx-0">
        <ul class="col list-group" style="" >
          <li class="lead">mow</li>
          <li class="lead">trim</li>
          <li class="lead">edge</li>
        </ul>
        <ul class="col list-group">
          <li class="lead">mulch</li>
          <li class="lead">rake</li>
          <li class="lead">aerate</li>
        </ul>

      </div>

      <a type="button" class="btn btn-primary btn-lg px-4 me-md-2 mt-3" href="/lawncare">Lawncare Estimate</a>
      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start"> -->
        <!-- <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/landscaping/portfolio">portfolio</a> -->
      <!-- </div> -->
      <div class="text-muted mt-3">* Accepted Payments - cash  &#8226 credit &#8226 check</div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6" style="width: 600px; height:auto; max-height:600px;overflow: hidden">
      <img src="/img/home/lawncare.jpg" class="d-block img-fluid" alt="lawncare image" loading="lazy">
    </div>
  </div>
</div>


<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6" style="height:500px; max-height:600px;overflow: hidden">
      <div style="position:relative;bottom:0;left:0;width:100%;height:100%;">
        <img src="/img/home/landscaping.jpg" class="caption" style="width:600px;height:auto;position:absolute;bottom:0;"  alt="bootstrap themes" loading="lazy">
      </div>
      <!-- <img src="/img/home/landscaping.jpg" class="d-block mx-lg-auto img-fluid" style="position:absolute;bottom:0;" alt="bootstrap themes" loading="lazy"> -->
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <div class="display-5 lh-1 mb-3 ">Landscaping</div>
      <!-- <p class="lead">Upgrade your landscape with flagstone walkways or patios. </p> -->
      <p class="lead">We offer small landscape design and installation services of plants and some hardscapes. we also offer landscape clean-up and maintenance services. </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/landscaping">landscaping</a>
        <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/landscaping/portfolio">portfolio</a>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="img-container">
  <div style="max-height: 800px; z-index:-1;overflow: hidden">
    <img src="/img/home/about.jpg" alt="about img" class="img-fluid" style=""> </div>
  <div class="img-overlay" style="background-color: #00000075;"> 
    <div class="caption"><!-- <span> -->
      <!-- <img src="/img/logos/sub_4/5.png" alt="mowing img" class="img-fluid" style="width:300px;"> -->
      <!-- <h1 class="special-header"> recultivate </h1> -->
      <h3 class="">We moved into our house in Madison Alabama in 2017 and immediately began landscaping. As our family grew, so did our need to be outside ( and to enjoy it).  Four years later, we started Recultivate to share our love of landscaping.</h3>
      <h3 class=" mt-5">Want to enjoy your yard more? Give us a call at <a class="mylink" href="tel:+14232080026">(423) 208-0026</a></h3>
    </div>
    <!-- </span> -->
  </div>
</div>


