<!-- <div class="container"> -->
<div class="img-container">
  <div style="height: 700px; overflow: hidden">
    <img src="/img/dan_mowing_2.jpg" alt="mowing img" class="img-fluid">
  </div>
  <div class="img-overlay"> 
    <div class="caption"><!-- <span> -->
      <h1 class="special-header"> recultivate </h1>
      <h2 class="special-header"> 1. (n) to cause to grow or flourish anew <h2>
      <h2 class="special-header"> 2. (n) to plant, tend, harvest, or improve (plants) again <h2>
    </div>
    <!-- </span> -->
  </div>
</div>


