
<link href="/css/lawncare_style.css" rel="stylesheet">
<div class=container>
  <h2 class="text-centered"> Local Lawncare Savings</h2>
  <p class="text-centered"> We calculate the cost of each yard by its size and proximity
  to our business. This incentivises those closest to us with lower prices for them and less travel for us! <p>
  <div class="container">

    <form action="$(Genie.Router.linkto(:lawncare_page))" method="GET">
    <!--<form action="postEstimate($(calculate()))">-->
      <legend class="text-center header"> Calculate your lawncare estimate:</legend>
      <!-- <div class="form-group"> --> 
      <div class="row g-3 my-3">
        <div class="col-6">
          <label for="street">street</label>
          <input type="text" class="form-control" placeholder="street" name="street" value="$street">
        </div>

        <div class="col-3">
          <label>city</label>
          <select class="form-select" name="city">
            <option value="madison">Madison</option>
            <option value="huntsville">Huntsville</option>
          </select>
        </div>
        <div class="col-1">
          <label>state</label>
          <input type="text" readonly class="form-control-plaintext" value="AL">
        </div>

        <div class="col-1">
          <label>acres</label>
          <input type="float" min="0.0" step="any" class="form-control" placeholder="Acres" name="acres" value="$acres">
        </div>

        <div class="col-1">
          <label></label>
          <button type="submit" class="btn btn-primary mb-2">Calculate</button>
        </div>
      </div>
      <!-- </div> -->


      <!-- <div class="row"> -->
      <!--   <div class="mr-auto"> -->
      <!--   </div> -->
      <!--   <div class="p2"><legend class="header">Your Estimate: $(raw"$") $(estimate)</legend></div> -->
      <!-- </div> -->
      <div class="text-danger">$estimate_warning</div>
    </form>

    <!-- <button class="btn btn my-btn" type="button" data-bs-toggle="modal" data-bs-target="#scheduleVisitModal"> Schedule Visit</button> -->
  </div>

  <div class=" container"> 
    <div class="row justify-content-center">
      <div class="col-4">
        <legend class="header"$(estimate)></legend>
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn my-btn" type="button" data-bs-toggle="modal" data-bs-target="#scheduleVisitModal"> Schedule Visit</button>
    </div>
  </div>
</div>


<div class="modal fade" id="scheduleVisitModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Schedule Visit</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <% partial("app/resources/scheduleVisitForm/views/scheduleVisitForm.jl.html", context = @__MODULE__) %>
      </div>
  </div>
</div>
