<h1> About Us </h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 align-self-center">
      <h2> Daniel
        <p></p>
        <h5> “A simple life is the life for me …” -Rickie Skaggs</h5>
        <p></p>
        <h5> Daniel is a software engineer who wanted to spend more time with his hands in fresh tilled earth and less on a keyboard. His father gardened extensively and one of his sisters is a botanist so perhaps it was just inevitable.</h5>
        <p></p>
        <h5> He enjoys collecting and propagating all kinds of plants and is interested in doing more landscape design, particularly with native plants.  His idol is the great gardener Samwise Gamgee (from Lord of the Rings). </h5>

    </div>
    <div class="col-sm-6">
      <img src="/img/dan_mowing_1.jpg" alt="Dan" class="rounded mx-auto d-block about_imgs">
    </div>
  </div>
  <div class="row">

  </div>
</div>
