<h1> Landscaping </h1>

<div class="container">
  <h2>Lawncare Pricing</h2>
  <table class="table table-striped ">
    <thead>
      <tr class="table_hrow">
        <th></th>
        <th>Single Visit</th>
        <th>Monthly - Basic</th>
        <th>Monthly - Full</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">mow</td>
        <td class="table_row"><span>✔</span></td>
        <td class="table_row"><span>✔</span></td>
        <td class="table_row"><span>✔</span></td>
      </tr>
      <tr>
        <th scope="row">weedeat</td>
        <td class="table_row"><span>✔</span></td>
        <td class="table_row"><span>✔</span></td>
        <td class="table_row"><span>✔</span></td>
      </tr>
      <tr>
        <td class="table_row_header">edge</td>
        <td class="table_row"><span>✔</span></td>
        <td class="table_row"><span>✔</span></td>
        <td class="table_row"><span>✔</span></td>
      </tr>
      <tr>
        <td>blow walkways/patios</td>
        <td><span>✔</span></td>
        <td><span>✔</span></td>
        <td><span>✔</span></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

